.div-hover:hover {
    background-color: red;
}

.div-active:active {
    background-color: blue;
    color: white;
}

input-focus:focus {
    background-color: orange;
}

a:visited {
    color: red;
}

.fruits span:first-child {
    color: red;
}

.fruits div:first-child {
    color: red;
}

.fruits span:nth-child(2) {
    color: red;
}

.fruits-2 span:nth-child(2n) {
    color: blue;
}

.fruits-2 span:not(.wm) {
    background-color: aqua;
}

.fruits *:not(span) {
    background-color: aqua;
}


/* ::before */
div.before-el::before {
    content: "앞!";
}

/* ::after */
div.after-el::after {
    content: "hot";
    color: white;
    font-size: 12px;
    background-color: red;
    border-radius: 2px;
}




input[type=password] {
    background-color: orange;
}

input[name=name] {
    background-color: orange;
}




/* 자식으로 */
.fruits-3 > .wm-3 {
    color: blue;
}

/* 클래스로 */
.wm-3 {
    color: red;
}